{% extends 'base.html' %}

{% block passwordreset %}

{% load static %}
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'Sign-up-in/images/signin-image.jpg' %}" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Reset Your Password</h2>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email material-icons-name"></i></label>
                                <input type="email" name="email" id="email" placeholder="Enter Your Email">
                            </div>
                            <div class="form-group form-button">
                                <input style="border-radius: 2rem" type="submit" name="signin" id="signin" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Follow Us On</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock passwordreset %}