{% extends 'password/base.html' %}

{% block passwordresetdone %}

{% load static %}
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'Sign-up-in/images/signin-image.jpg' %}" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Reset Your Password</h2>
                        <h3 class="form-title"> We Have Send You An Email With Reset Link. Please Follow Steps In Order To Reset Your Password</h3>
                        <div class="social-login">
                            <span class="social-label">Follow Us On</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock passwordresetdone %}