{% extends 'base.html' %}

{% block otp %}

{% load static %}
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label {% if error %} style="color:#CA1500;" {% endif %} for="otp"><i class="zmdi zmdi-star-half material-icons-name"></i></label>
                                <input type="text" name="otp" id="otp" {% if error %} placeholder = '{{ error }}'  {% else %} placeholder='Enter OTP' {% endif %} />
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="label-agree-term"><span><span></span></span><a href ="{% url 'resendrequest' %}">Resend OTP</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input style="border-radius: 2rem" type="submit" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'Sign-up-in/images/signup-image.jpg' %}" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>
{% endblock otp %}