<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'paymentgateway/anotherpayment.css' %}">
    <title>Document</title>

</head>
<body>
    <article class="card">
        <div class="container">
            <div class="card-title">
                <h2>Payment</h2>
            </div>
            <div class="card-body">
                <div class="payment-type">
                    <h4>Choose payment method below</h4>
                    <div class="types flex">
                        <div class="type">
                            <div class="logo">
                                <i class="far fa-credit-card"></i>
                            </div>
                            <div class="text">
                                <p>Pay with Credit Card</p>
                            </div>
                        </div>
                        <div class="type ">
                            <div class="logo">
                                <i class="fa-solid fa-building-columns"></i>
                            </div>
                            <div class="text">
                                <p>Pay with Credit Card</p>
                            </div>
                        </div>

                        <div class="type">
                            <div class="logo">
                                <i class="fa-solid fa-indian-rupee-sign"></i>
                            </div>
                            <div class="text">
                                <p>Pay with Amazon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-actions flex justify-space-between">
                <div class="flex-start">
                    <button class="button button-secondary">Return to Store</button>
                </div>
                <div class="flex-end">
                    <button class="button button-link">Back to Shipping</button>
                    <button class="button button-primary">Proceed</button>
                </div>
            </div>
        </div>
    </article>
</body>
</html>




